{% extends 'base.html' %}
{% block titutlo %}  Listagem de Produtos {% endblock %}

{% block conteudo %}

<table class="table">
    <thead>
        <tr>        
           <th>Nome</th>
           <th>Preço</th>
           <th>Imagem</th>
        </tr>
    </thead>
    <tbody>
        {% for produto in lista_produtos %}
        <tr>
            <td>{{ produto.nome }}</td>
            <td>{{ produto.preco }}</td>
            <td><img class="card-img-top" src="{{ produto.imagem.url }}" alt="{{ produto.nome }}" height="50"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock conteudo %}