{% extends 'base.html' %}

{% block conteudo %}

<h1>Detalhe</h1>
<div class="row">
    <div class="col-lg">
        <div class="row no-gutters">
            <div class="col-lg-12">
                {% if produto.imagem %}
                <img  src="{{ produto.imagem.url }}" height="350">
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-lg">
        <div class="mt-4 mt-lg-0">
            <h1 class="h2">{{ produto.nome }}</h1>
            <p class="lead">{{ produto.descricao_curta }}</p>
            <p class="lead">
                {% if produto.preco_marketing_promocional %}
                <span id="variation-preco-promocional" class="lead product-price">
                    {{ produto.preco_promocional_formatado }}
                </span>
                <span id="variation-preco" class="lead product-old-price text-muted">
                    {{ produto.preco_marketing }}
                </span>
                {% else %}
                <span id="variation-preco" class="lead product-price">
                    {{ produto.preco_formatado }}
                </span>
                {% endif %}
            </p>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="mt-5 mb-5">
            <h2 class="text-center">{{ produto.nome }}</h2>
            {{ produto.descricao_longa|linebreaks }}
        </div>
    </div>
</div>
 
{% endblock conteudo %}
